html {
    background-color: #000000;
    color: #e3e3e3;
    font-family: 'Press Start 2P';
    font-size: 32pt;
    margin: 20pt;
}

.textin {
    max-width: 100%;
    height: 60pt;
    font-family: 'Press Start 2P';
    font-size: 32pt;
    background: #000000;
    color: #e3e3e3;
    border: solid #e3e3e3 2pt;
    padding-top: 4pt;
    padding-left: 16pt;
}

button,.button {
    min-height: 60pt;
    height: fit-content;
    font-family: 'Press Start 2P';
    font-size: 32pt;
    background: #000000;
    color: #e3e3e3;
    border: solid #a6e22e 2pt;
    text-align: center;
    padding-top: 4pt;
    padding-left: 16pt;
    padding-right: 16pt;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 2pt;
    margin-top: 30pt;
    margin-bottom: 30pt;
    border-radius: 0;  
    background: #a6e22e;
  }

  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 60pt;
    height: 60pt;
    background: #000000;
    border-radius: 0;
    border: solid #a6e22e 2pt;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 60pt;
    height: 60pt;
    background: #000000;
    border-radius: 0;
    border: solid #a6e22e 2pt;
    cursor: pointer;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 124pt;
    height: 60pt;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .toggle {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    border: solid #a6e22e 2pt;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .toggle:before {
    position: absolute;
    content: "";
    height: 42pt;
    width: 42pt;
    left: 6pt;
    bottom: 6pt;
    background-color: #000000;
    border: 2px solid #a6e22e;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .toggle:before {
    background-color: #a6e22e;
  }
  
  input:focus + .toggle {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .toggle:before {
    -webkit-transform: translateX(64pt);
    -ms-transform: translateX(64pt);
    transform: translateX(64pt);
  }
  
  /* Rounded sliders */
  .toggle.round {
    border-radius: 34px;
  }
  
  .toggle.round:before {
    border-radius: 50%;
  }